.audio-container {
    display: flex;
    justify-content: center;
    padding: 2% 0;
    gap: 50px;
}

.audio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-congrats {
    text-align: center;
    font-size: 28px;
}

main {
    height: 60vh;
}